<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>welcome to my homepage</h2>

    <form action="login", method="post">
        <label>id:First name:</label><br>
        <input type="text" id="id" name="id" value="taeik"><br>
        
        <label>pw:</label><br>
        <input type="password" id="pw" name="pw" value="11"><br><br>
        
        <input type="submit" value="Log In">
        
    </form>

    <form action="join_us", method="post">
        <label>Join Us</label><br>

        <input type="submit" value="join us">
        
    </form>

</body>
</html>
