<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>join us? welcome</h2>
    <form action="join", method="post">
        <label>enter the id you want</label><br>
        <input type="text" id="id" name="id" value=""><br>
        
        <label>enter the pw you want</label><br>
        <input type="password" id="pw" name="pw" value=""><br><br>
        
        <input type="submit" value="submit id & pw">
        
    </form>
</body>
</html>